/* https://coolors.co/FFEA00-d3bccc-89538D-e27865-4a306d */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
       font-family: "Playfair Display", serif; 
       text-align: center;
       background-color: #4a306d;
       color: #FFEA00;
}
header, footer{
    background-color: #89538D;
    color: #FFEA00;
    padding: 1rem;
}

li{
    list-style: none;
}
ul li p{
    text-align: left;
}
a{
    color: #FFEA00;
    text-decoration: none;
    
}
.navbar{
  min-height: 70px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:  0 24px;  
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-baranding{
    font-size: 2rem;
}
.nav-link{
    transition: 0.7s, ease;
}

.nav-link:hover{
    color: #f4e04d;
}
.hamburger{
    display: none;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin:5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
@media(max-width:785px){
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
        
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top:70px;
        gap: 0;
        flex-direction: column;
        background-color:#89538D;
        width: 100px;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
        width: 100%;
    }
}
main{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
}

.action-left{
    display: none;
    background-color: #89538D;
    border-radius: 10px;
}
.action-right{
    display: none;
    background-color: #89538D;
    border-radius: 10px;
}
.post_user{
    margin: auto;
}
.post{
    background-color: #89538D;
    padding: 25px;
    border-radius: 10px;
    justify-self: center;
    color: #FFEA00;
    margin: 20px;
    width: 50%;
    max-width: 700px;
    min-width: 300px;
}


.post_words{
    background-color: #e27865;
    padding: 15px;
    color: #050202;
    border-radius: 10px;
}

.post_comment{
    background-color: #d3bccc;
    color: #050202;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
}
.post_comment label{
    text-align: left;
}

/* for site plan */
.colorSchema{
    background-color: rgb(92, 0, 0);
    padding: 10px;
}

/* https://coolors.co/FFEA00-d3bccc-89538D-e27865-050202 */

.post_image{
    margin: 10px 0;
}

.plan_figure{ 
    width: 100%;
    margin: 20px;
}
.plan_figure img{
    width: 60%;
    max-width: 500px;
    max-height: 600px;
}
.color1{
color: #FFEA00;

}
.color2{
color: #d3bccc;    
}
.color3{
    color: #89538D;
    padding: 5px;
    background-color: #FFEA00;
}
.color4{
    color: #e27865;
}
.color5{
   color:#050202; 
   background-color: #e27865;
   padding: 5px;
}
/* friends html */
.friends_list, .suggested_friends{
    background-color: #89538D;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
}

.friendEl{
    background-color: #e27865;
    margin: 20px;
    border-radius: 20px;
    padding: 5px;
    color: #050202;
}