/* https://coolors.co/335c67-fff3b0-e09f3e */

body{
    font-family: "Playfair Display", serif;
    background-color: #e09f3e;
    color: #335c67
}
header span{
    display: block;
}
nav{
    background-color: #335c67;
	margin: 0 auto;
	max-width: 800px;
    display: flex;
    justify-content: center;
}
nav a{
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 1rem;
    color: #fff3b0;
}
nav a:hover{
background-color: #fff3b0;
color: #335c67;
}
main h1{
    grid-column: 1/5;
    text-align: center;
}
main{
    display: grid;
    grid-template-columns: 1, 1, 1, 1;
    grid-template-rows: auto;
    color: black;
}
#first_section{
    grid-column: 1/3;
}
#second_section{
    grid-column: 3/4;
}
.card{
    background-color: #fff3b0;
    padding: 30px;
    margin:10px;
    border-radius: 10px;
}
#nebraska_part{
    display: flex;

}
.nebraska{
    margin: 10px;
}
footer{
    background-color: #335c67;
    color: #fff3b0;
    width: 100%;
    display: block;
    padding: 20px;
    text-align: center;
}