@media(max-width: 1000px){
    html, body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        display: block;
    }
    main{
        display: block;
    }
    #Hero_img{
        width: 100%;
        max-height: 300px;
        overflow:hidden ;
        z-index: 1;
    }
    #Hero_img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }


}
