/* https://coolors.co/335c67-fff3b0-e09f3e */
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    font-family: "Playfair Display", serif;
    font-display: swap;
    background-color: #e09f3e;
    color: #335c67;
    text-align: center;
    overflow-x: hidden;
}
header span{
    display: block;
}


header h1{
    grid-column: 1/5;
    text-align: center;
    background-color: #335c67;
    color: #e09f3e;
    width: 100%;
    margin: 0;
    padding: 30px;
}
main{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3,auto);
    grid-template-rows: auto;
    color: black;
    width: 100%;
}
#Hero_img{
    width: 100%;
    z-index: 0;
    grid-column: 1/7;
    grid-row: 1/4;
    max-width: 100%;
    max-height: 1200px;
    overflow: hidden;
}
#Hero_img img{
    object-fit: cover;
    width: 100%;
    max-height: 1000px;
    aspect-ratio: 16/9;
}
#first_section{
    grid-column: 2/3;
    grid-row: 1/3;
    height: fit-content;
    z-index: 1;
    opacity: 100%;
    text-align: left;
    margin-top: 20px;
    min-width: 150px;
    min-height: 300px;
}
#second_section{
    grid-column: 4/5;
    grid-row: 2/4;
    height: fit-content;
    z-index: 1;
    text-align: left;
    min-height: 200px;
}
#weather_photo{
    height: 64px;
    width:64px;
    flex-shrink: 0;
}
.weatherLine{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #e09f3e;
    min-width: fit-content;
    max-width: 100%;
    padding: 10px;
    height: 150px; 
    
}
.card{
    background-color: #fff3b0;
    padding: 30px;
    margin:10px;
    border-radius: 10px;
}
#nebraska_part{
    display: flex;

}
.nebraska{
    margin: 10px;
}
footer{
    background-color: #335c67;
    color: #fff3b0;
    width: 100%;
    display: block;
    padding: 20px;
    text-align: center;
}