/* https://coolors.co/0b132b-7d82b8-f4e04d-5bc0be */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
       font-family: "Playfair Display", serif; 
       text-align: center;
       background-color: #0B132B;
       color: #f4e04d;
}
header, footer{
    background-color: #5bc0be;
    color: #0B132B;
    padding: 1rem;
}
li{
    list-style: none;
}
a{
    color: #0B132B;
}
.navbar{
  min-height: 70px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:  0 24px;  
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-baranding{
    font-size: 2rem;
}
.nav-link{
    transition: 0.7s, ease;
}

.nav-link:hover{
    color: #f4e04d;
}
.hamburger{
    display: none;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin:5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
@media(max-width:785px){
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
        
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top:70px;
        gap: 0;
        flex-direction: column;
        background-color:#5bc0be;
        width: 100px;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
        width: 100%;
    }
}
main{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
}

.figure{
    background-color: #5bc0be;
    padding: 25px;
    border-radius: 10PX;
    justify-self: center;
    color: #0B132B;
}

.figure img{
    width: 325px;
    height: 203px;
}
.purple{
    color: #2E0057;
}